*{
    padding: 0;
    margin: 0;
}
body{ 
    /* font-family: 'Open Sans', sans-serif; */
}
.all_part{
    background: #F7F9FC;
}
.container{
    background: white;
}
.Colomn1{
    border-right: 2px solid rgba(168, 164, 164, 0.829);
    margin-left: auto;
    padding: 75px 6px 0px 25px;
}
.name_des{}
.name_des h1{
    font-family: sans-serif;
    font-weight: 600;
}
.name_des p{
    font-size: 25px;
}
.bio{}
.bio h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.bio p{
    font-size: 23px;
    padding-right: 12px;
}
.work{}
.work h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.work_detail{}
.work_detail p{
    font-size: 23px;
}
.bold{
    font-size: 24px;
    font-weight: 500;
}
.light{
    font-size: 20px;
    color: grey;
}
.Education{}
.Education h2
    {color: #478fcc;
    font-size: 30px;
    font-weight: 500;}
.Edu_detail{}
.Edu_detail p{
    font-size: 23px;
    padding-right: 12px;
}
.porfolio{}
.porfolio h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.portfolio_detail{}
.portfolio_detail p{
    font-size: 23px;
    padding-right: 12px;
}
.reference{}
.reference h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.reference_detail{}
.reference_detail p{
    font-size: 23px;
    padding-right: 12px;
}
.Colomn2{
    padding: 75px 0px 0px 24px;
}
.jx_link{}
.jx_link img{
    width: 75px;
}
.jx_link a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-style: italic;
}
.profile_pic{}
.profile_pic img{
    margin-bottom: 22px;
}
.info{}
.info img{
    width: 35px;
    margin-right: 15px;
}
.info a{
    text-decoration: none;
    font-size: 23px;
    color: black;
}
.skill{
    margin-top: 49px;
    margin-bottom: .5rem;
}
.skill h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.left{}
.left h4{}
.right{}
.right p{
    font-size: 23px;
    font-style: italic;
}
.certification{}
.certification h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.cs{}
.cs p{
    font-size: 23px;
    padding-right: 12px;

}
.membership{}
.membership h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.Language{}
.Language h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.hobbies{}
.hobbies h2{
    color: #478fcc;
    font-size: 30px;
    font-weight: 500;
}
.list{
    margin-left: -30px;
}
.list ul{
    list-style: none;
    font-size: 23px;
    margin-right: 17px;
}
.italic{
    font-style: italic;
}